* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(hsl(300, 90%, 15%), rgb(37, 46, 46));
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

:root {
    --colorL: rgb(196, 35, 166);
    --font_fam: font-family: Verdana, Geneva, Tahoma, sans-serif;
    --sec_color: rgb(91, 161, 161);
}

i {
    color: var(--sec_color);
    font-size: 1rem;
}

span {
    color: var(--colorL);
}

h4 {
    text-transform: capitalize;
    /* color: rgb(243, 224, 239); */

}

a {
    text-decoration: none;
    color: var(--colorL);
    font-weight: bold;
}

h1 {
    text-transform: uppercase;
    color: rgb(91, 161, 161);
}

h2 {
    color: rgb(252, 250, 253);
    text-transform: capitalize;
    padding: .5rem 0;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
    line-height: 2rem;
}

ul li {
    list-style: none;
    text-transform: capitalize;
    margin: 10px;

    a {
        color: rgb(243, 224, 239);

    }
}

form input,
textarea {
    display: block;
    outline: none;
}

/*---------------------------------------------header section--------------------------------*/


header nav,
header ul,
#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

header ul {
    gap: 3rem;
    padding-top: 2rem;
}

header ul a {
    border-radius: 15px;
    font-size: 19px ;
    padding: 5px 10px;
}

header ul a:hover {
    border: 2px solid;
    background-color: white;
    color: black;
}

/*---------------------------------------------hero section--------------------------------*/

#hero {
    margin: 5rem 3rem;
    gap: 15rem;
    color: rgb(255, 255, 255);

}

#hero span {
    display: block;
    margin: .5rem 0 1rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--colorL);
}

#hero img {
    height: 150px;
}

#hero img:hover {
    scale: 1.2;
}

#hero .images {
    width: 80%;
}

/*---------------------------------------------about_me section--------------------------------*/
#about_me {
    padding: 3rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 10rem;

    img {
        width: 300px;
        height: 300px;
    }

    img:hover {
        scale: 1.1;

    }

}

/*---------------------------------------------services section--------------------------------*/

#services {
    background-color: rgb(218, 203, 216);
    padding: 4rem;

    h2 {
        color: var(--colorL);
        margin-bottom: 1rem;
        color: #9e3bb1;
    }

    h3 {
        margin-bottom: 1rem;
        padding-top: .5rem;
    }

    span {
        font-weight: bold;
    }
}

.services-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}

.service {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 18rem;
    text-align: center;
    transition: 0.3s;


}

.service p,
ul {
    font-size: 1rem;
    color: #555;
    font-family: 'Courier New', Courier, monospace;

}

.service:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    scale: 1.1;
}

.service i {
    font-size: 1.6rem;
    color: var(--colorL);
}


details summary {
    cursor: pointer;
    color: var(--sec_color);
}

.service strong {
    color: var(--sec_color);
}




/*---------------------------------------------projects section--------------------------------*/

#projects {
    padding: 4.5rem;

    h2 {
        margin-bottom: 2rem;
    }
}

.projects {
    display: flex;
    gap: 1.5rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 2rem;
}

#projects .outer_div {
    width: 31.5%;
    position: relative;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 3rem;
    flex-shrink: 0;
    box-shadow: 2px 2px 2px;
}

#projects img {
    width: 100%;
    height: 200px;
}

#projects .inner_div {
    background-color: rgba(18, 17, 17, 0.7);
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 90%;
    height: 75%;
    margin: 1rem;
}

#projects button {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    top: 5.5rem;
    left: 6rem;
    color: var(--colorL);
    font-weight: bold;
    cursor: pointer;
}

#projects button:hover {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

#projects .outer_div:hover .inner_div {
    visibility: visible;
}

#projects .outer_div a {
    font-size: small;
    display: block;
    padding: 2rem 1rem 0;
}

/*---------------------------------------------contact_me section--------------------------------*/
#contact_me {
    background-color: rgb(255, 255, 255);
    padding: 3rem;

}

.container {
    display: flex;
    justify-content: space-between;

}

#contact_me h2 {
    color: var(--colorL);
}

#contact_me span a {
    color: var(--sec_color);
}

#contact_me .content {
    padding: .5rem;
}

#contact_me .call div {
    margin: 2rem 0;
    line-height: 1.5rem;

    span,
    a {
        color: rgb(26, 25, 25);
    }
}

#contact_me form {
    background-color: rgb(218, 203, 216);
    padding: 3rem 4rem;
    font-weight: bold;

}

#contact_me form input,
textarea {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
}

#contact_me label {
    display: block;
    margin: 1rem 0 .5rem;
    color: var(--sec_color);
    text-transform: capitalize;
}

#contact_me .submit {
    margin: auto;
    background-color: var(--colorL);
    color: #fff;
    border: none;
    padding: 1rem 2.5rem;
    cursor: pointer;
    border-radius: 20px;
}

#contact_me .submit:hover {
    background-color: rgb(91, 53, 123);
    scale: 1.1;
}

/*---------------------------------------------footer section--------------------------------*/
footer {
    background-color: hsl(300, 42%, 22%);
    text-align: center;
    color: #fff;
    padding: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}

footer i {
    color: var(--colorL);
    margin: 1rem .2rem;
    font-size: 1.4rem;
}

footer i:hover {
    scale: 1.3;
    color: #fff;
}